<footer id="f" class="f">
    <div class="container">
        <div class="inner-c flex rel">
           <div class="f_col"> 
                <img src="./img/fl.svg" alt="" class="f_logo">
                <img src="./img/fr1.svg" alt="" class="f_logo" style="padding-top: 20px;">
            </div>

            <div class="f_col">
                <div class="f_title">Связь с нами:</div>

                <div class="soc_row">
                    <a href="#" target="_blank"><img src="./img/s1.svg" alt=""></a>
                    <a href="#" target="_blank"><img src="./img/s2.svg" alt=""></a>
                    <a href="#" target="_blank"><img src="./img/s3.svg" alt=""></a>
                </div>

                <div class="soc_row">
                    <a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/starget.consulting/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                </div>
            </div>

            <div class="f_col">
                <div class="f_title">Телефон:</div>
                <a href="tel:87013248964"><b>8 (701) 324 89 64</b></a>

                <div class="f_title">E-mail:</div>
                <a href="mailto:glavbuh@starget.kz"><b>glavbuh@starget.kz</b></a>
            </div>

            <div class="f_nav flex">
                <ul>
                    <li><a href="#about">О нас</a></li>
                    <li><a href="#pluses">Преимущества</a></li>
                    <li><a href="#servs">Услуги</a></li>
                </ul>
                <ul>
                    <li><a href="#tarifs">Тарифы</a></li>
                    <!-- <li><a href="#">Отзывы</a></li> -->
                    <li><a href="#f">Контакты</a></li>
                </ul>
            </div>

            <a href="#up" class="up-btn">
            </a>

        </div>

        <div class="year">2021</div>

    </div>
</footer>